################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Registration/Registration/obj
/Registration/.vs/Registration
/Registration/Registration/bin/Debug/net6.0
